---
import Separator from '@components/Separator.astro'
import PostCard from '@components/ui/PostCard.astro'
import { SITE } from '@config'
import BaseLayout from '@layouts/BaseLayout.astro'
import PageLayout from '@layouts/PageLayout.astro'
import { getSortedPosts } from '@utils/post.utils'
import { getCollection } from 'astro:content'
const posts = await getCollection('blog')

const sortedPosts = getSortedPosts(posts)
const featuredPosts = sortedPosts.filter(({ data }) => data.featured)
const recentPosts = sortedPosts.filter(({ data }) => !data.featured)

const introImage =
  'https://github.com/rdias66/astro-blogfolio-assets/blob/main/images/blog-assets/et-home.png?raw=true'
const introTitle = 'Boas-vindas !'
const intro =
  'Este é o meu blog profissional. Aqui, compartilho conteúdo de tutoriais e projetos voltados para o aprendizado prático, com o objetivo de dividir experiências e fortalecer o conhecimento adquirido ao longo da minha jornada como desenvolvedor júnior. O foco deste espaço é mostrar de forma clara e didática o desenvolvimento de setores com conteúdos mais escassos, como fluxos DevOps, integrações de micro-serviços e IaC.'
---

<BaseLayout>
  <PageLayout>
    <div class="intro-container">
      <div class="title-container">
        <h1 class="title-red">{introTitle}</h1>
        <div class="image-container">
          <img src={introImage} alt="et-home" />
        </div>
      </div>

      <article class="intro-article">
        <p class="text-block">{intro}</p>
      </article>
    </div>
    <Separator thin={true} />

    {
      featuredPosts.length > 0 && (
        <>
          <section id="featured" class="post-list">
            <h2 class="sub-title-red">Em destaque</h2>
            <ul>
              {featuredPosts.map(({ data, slug }) => (
                <PostCard
                  href={`/posts/${slug}/`}
                  frontmatter={data}
                  secHeading={false}
                />
              ))}
            </ul>
          </section>
        </>
      )
    }

    {
      recentPosts.length > 0 && (
        <section id="recent-posts">
          <h2 class="sub-title-red">Recentes</h2>
          <ul>
            {recentPosts.map(
              ({ data, slug }, index) =>
                index < SITE.postPerIndex && (
                  <PostCard
                    href={`/posts/${slug}/`}
                    frontmatter={data}
                    secHeading={false}
                  />
                ),
            )}
          </ul>
        </section>
      )
    }
  </PageLayout>

  <style>
    .intro-container {
      display: block;
      text-align: center;
      margin: 20px 0;
    }

    .title-container {
      margin-bottom: 20px;
    }

    .intro-article {
      font-size: 1rem;
      line-height: 1.5;
      color: #333;
    }

    .image-container img {
      max-width: 50%;
      height: auto;
      display: block;
      margin: 0 auto;
    }

    .intro-article {
      margin-top: 2rem;
    }

    .post-list {
      margin-top: 1rem;
    }
    @media (min-width: 768px) {
      .intro-container {
        justify-items: baseline;
        align-items: start;
        text-align: left;
      }

      .title-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: var(--primary-color);
      }
      .image-container {
        flex: 0 0 15%;
      }
    }
  </style>
</BaseLayout>
